# Composer & Laravel
/vendor/                 # Composer зависимости
vendor/

node_modules/           # npm/yarn зависимости
/node_modules/

# Debug & Lock files
npm-debug.log
yarn-error.log
*.log                    # Все .log файлы

# Tests
/tests                   # Если не используешь тесты — ок

# Laravel runtime
/storage/logs/*          # Логи Laravel
storage/*.key            # Ключи, например laravel.log.key
public/storage           # symlink — обычно игнорируем

# Laravel .env файлы
.env
.env.local               # Доп. локальные переменные

# IDE & OS
.idea                    # JetBrains PhpStorm/WebStorm

# Frontend build
/public/hot              # Vite HMR флаг
/public/build            # Vite билд, если билдить на сервере
/public_html/hot         # Если public_html — кастомный паблик
/public_html/storage     # Тоже кастомный паблик

# Сертификаты, Vagrant, Homestead
localhost*.pem           # Локальные сертификаты
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit
.phpunit.result.cache

# Скрипты, SQL дампы — по ситуации
insert_users_courses.sql
serve.bat
migrate.bat

# Лишнее — эти обычно хранятся:
#vite.config.js
#package.json
#package-lock.json
